@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+SC&display=swap');

body {
    margin: 0;
    padding: 72px 0 0 0;
    position: relative;
}

#back{
    display: flex;
    left: 0;
    top: 72px;
    position: absolute;
    height: 100%;
    width: 100%;
    overflow: hidden;
    justify-content: center;
    background-color: #1d1d1d;
}

#back>img{
    width: 100%;
    opacity: 0.5;
}

@media only screen and (max-width: 1000px) {
    #back>img{
        width: 200%;
    }
}

@media only screen and (max-width: 630px) {
    #back>img{
        width: 300%;
    }
}
