@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+SC&display=swap');

body {
    margin: 0;
    background-color: #202020;
    font-family: 'Noto Sans SC', sans-serif;
    color: whitesmoke;
}

#bar1{
    width: 100%;
    margin-top: 72px;
}

.clip_img{
    display: flex;
    justify-content: center;
    overflow: hidden;
}

.clip_img>img{
    width: 100%;
    height: auto;
    object-fit: contain;
}

#bar1_advocate{
    position: relative;
    z-index: 1;
    margin-top: -6.2vw;
}

#bar1_advocate>div{
    font-size: calc(19.5px + 1.75vw);
    background-color: rgba(127, 0, 56, 0.69);
    display: block;
    width: calc(195px + 17.5vw);
    padding: 0.3vw 1.7vw;
    margin: 0 auto 0 4vw;
}

#bar2{
    margin-top: 8.9vw;
    font-size: calc(12.9px + 1.11vw);
    background-color: #393838;
    text-align: center;
    padding: 0.2vw;
}

#bar3{
    width: 100%;
    margin-top: 6vw;
    position: relative;
}

#bar3_sub_img{
    position: absolute;
    top: -6vw;
    left: calc(50vw - (150px + 20vw)/2);
    z-index: 1;
    text-align: center;

}

#bar3_sub_img>img{
    width: calc(150px + 20vw);
    height: auto;
}

#bar3_statement{
    font-size: calc(10.5px + 1.4vw);
    text-shadow: -0.4vw 0 0.4vw black;
    position: absolute;
    top: 50vw;
    padding-left: 3vw;
}

#bar3_advocate{
    padding-right: 3vw;
    font-size: calc(14px + 2.6vw);
    text-align: right;
    text-shadow: -0.4vw 0 0.4vw black;
    position: absolute;
    top: 66.6vw;
    margin-left: auto;
    left: 0;
    right: 0;
}

#bar4{
    margin: 0;
    background-color: #001010;
    padding: 8vw 9vw;
}

#bar4>div{
    border: 0.3vw rgba(107, 107, 107, 0.4) solid;
    border-radius: 0.3vw;
    font-size: calc(14.7px + 0.5vw);
    padding: 49px 30px;
    max-width: 680px;
    margin: 0 auto;
}

#bar5{
    padding-top: 39px;
    display: block;
    position: relative;
    background-color: #001010;
}

#bar5_img_div{
    margin-bottom: 17.5vw;
}

#bar5_text1_div{
    padding-left: 5vw;
    padding-bottom: calc(28px + 1.8vw);
    font-size: calc(12.25px + 1.35vw);
}

#bar5_text2_div{
    position: absolute;
    top: calc(67.6667px + 2.33333vw);
    z-index: 1;
    background-color: rgba(0, 0, 0, 0.76);
    padding: 1vw;
    font-size: calc(23.3333px + 1.66667vw);
    left: calc(-70px + 56vw);
}

#bar5_text3_div{
    position: absolute;
    top: 66vw;
    left: calc(-140px + 34vw);
    width: calc(240px + 31vw);
    background-color: rgba(2, 157, 177, 0.76);
    padding: 14px;
    z-index: 1;
    font-size: calc(14px + 0.8vw);
}

#bar6{
    text-align: center;
    display: flex;
    line-height: 233%;
    font-size: calc(13.5px + 1.35vw);
    justify-content: space-evenly;
    align-items: flex-end;
}

#bar6>img{
    width: calc(60.7143px + 11.8571vw);
    height: auto;
    object-fit: contain;
}

#bar6_text>img{
    width: 46px;
    height: auto;
    margin: 0 auto;
}

#play_button{
    margin: 45px 0 ;
    font-size: 20px;
    font-weight: bold;
    display: block;
    text-align: center;
    position: relative;
    padding: 14px 0;
    background-color: #272727;
}

@keyframes flicker_back{
    0%   { background-color: #3b0909; }
    50%  { background-color: #4b1616; color: whitesmoke;}
    100% { background-color: #3b0909; }
}

#play_button>span{
    padding: 9px;
    animation: flicker_back 1s infinite;
    border-radius: 4px;
    transition-duration: 0.2s;
    color: #f0f0ab;
    cursor: pointer;
    user-select: none;
}

#play_button>span:hover{
    animation: unset;
    transition-duration: 0.2s;
    background: linear-gradient(180deg, #904646, #902d2d);
}

#play_button>span:active{
    background: linear-gradient(180deg, #713434, #b14141);
}
