@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+SC&display=swap');

#mainbar{
    display: flex;
    padding: 7px 0 5px 0;
    justify-content: flex-end;
    background-color: #00554e;
    color: whitesmoke;
    font-family: 'Noto Sans SC', sans-serif;
    font-size: 17px;
    text-align: center;
    position: fixed;
    align-items: center;
    top: 0;
    width: 100%;
    z-index: 1;
    box-shadow: 0 5px 3px #004444;
}

#mainbar a{
    text-decoration: none;
    color: inherit;
}

#mainbar>a.norm, #top_menu_button{
    padding: 10px 7px;
    margin: 0 7px;
    transition-duration: 0.2s;
    display: inline-flex;
    align-items: center;
}

#mainbar>a.norm>img, #login_button>img, #top_menu_button>img{
    height: 17px;
    width: auto;
    margin-right: 5px;
}

#mainbar>a.norm:hover, #top_menu_button:hover{
    background-color: #00695f;
}

#mainbar>a.norm:active, #top_menu_button:active{
    background-color: #009184;
}

#top_menu_button[opened], #top_menu>a.norm, #top_menu{
    background-color: #008b9d;
}

#top_menu_button[opened]:hover, #top_menu>a.norm:hover{
    background-color: #07a8be;
}

#top_menu_button[opened]:active, #top_menu>a.norm:active{
    background-color: #17bdd5;
}

#login_button{
    border-radius: 3px;
    padding: 6px 16px;
    background-color: #9af1f1;
    margin: 0 20px 0 16px;
    color: #02021c;
    display: inline-flex;
    align-items: center;
    transition-duration: 0.3s;
    cursor: pointer;
}

#login_button:hover{
    background-color: #89e0e0;
}

#login_button:active{
    background: linear-gradient(0deg, #6fe2e2, #4e9c9c);
}

#logo{
    height: 120px;
    width: auto;
    margin: -30px auto -30px 15px;
    position: relative;
    top: 10px;
}

#lang{
    margin: 0 15px 0 4px;
}

#top_menu_button{
    display: none;
}

#top_menu{
    display: none;
}

@media only screen and (max-width: 900px) {
    #mainbar>a.norm{
        display: none;
    }

    #top_menu_button{
        display: inline;
        cursor: pointer;
    }

    #top_menu_button>img{
        height: 20px;
        margin-right: 0;
    }

    #lang{
        display: none;
    }

    /*for the top list dropdown menu*/
    #top_menu{
        display: block;
        position: absolute;
        width: 130px;
        left: 0;
        top: 0;
        box-shadow: 3px 3px rgba(136, 136, 136, 0.53);
    }

    #top_menu>a.norm{
        display: flex;
        align-items: center;
        padding: 5px;
        transition-duration: 0.2s;
        cursor: pointer;
    }

    #top_menu>a.norm>img{
        height: 14px;
        width: auto;
    }

    #top_menu>a.norm>span{
        margin-left: auto;
        font-size: 14px;
    }
}

@media only screen and (max-width: 585px) {
    #login_button{
        margin: 0 13px 0 5px;
    }

    #login_button>img{
        display: none;
    }

    #logo{
        margin-left: 5px;
    }

    #top_menu{
        width: 120px;
    }
}