@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+SC&display=swap');

#vert_alert{
    position: fixed;
    left: 0;
    right: 0;
    opacity: 0.7;
    color: #c04444;
    font-family: 'Noto Sans SC', sans-serif;
    z-index: 5;
    top: 82px;
    text-align: center;
}

#vert_alert>div{
    display: inline;
    margin: auto;
    border-radius: 4px;
    border: 3px #c04444 solid;
    font-size: 16px;
    padding: 6px;
    background-color: rgba(245, 245, 245, 0.81);
}

@media only screen and (max-width: 1150px) {
    #vert_alert{
        display: none;
    }
}
