@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+SC&display=swap');

#modal_back{
    background: rgba(0,0,0,0.4);
    position: fixed;
    padding: 0;
    margin: 0;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Noto Sans SC', sans-serif;
    font-size: 14px;
}

#window{
    width: 60%;
    max-width: 440px;
    display: block;
    margin: auto;
    position: relative;
    border: 1px #02021c solid;
    border-radius: 5px;
    background-color: whitesmoke;
}

#title_box{
    display: flex;
    margin: 10px;
    font-size: 18px;
    align-items: center;
    font-weight: bold;
}

#window>div.sap{
    display: block;
    width: 100%;
    background-color: #02021c;
    height: 1px;
    margin-top: -3px;
}

#title_box>a{
    margin-left: auto;
    transition-duration: 0.15s;
}

#title_box>a>img{
    width: 17px;
    height: auto;
}

#title_box>a:hover{
    opacity: 0.6;
}

#title_box>a:active{
    opacity: 0.4;
}

#content_box{
    display: block;
    margin: 10px;
}
