RewriteEngine on

RewriteCond %{REQUEST_FILENAME} -f
RewriteCond %{REQUEST_FILENAME} !([^.]+)\/subpages/deny.php [NC]
RewriteCond %{THE_REQUEST} /([^.]+)\.php [NC]
RewriteRule ^ - [NC,L,R=404]

RewriteCond %{REQUEST_FILENAME}.php -f
RewriteRule ^ %{REQUEST_URI}.php [NC,L]

RewriteCond %{REQUEST_URI} ^/(achievements|handbook|mainpage|server|error)(?![a-zA-Z0-9/]+)
RewriteRule ^ /subpages/%1 [NC,L]
RewriteCond %{REQUEST_URI} ^/(403|404)(?![a-zA-Z0-9/]+)
RewriteRule ^ /subpages/deny.inc?code=%1 [NC,L]

ErrorDocument 403 /subpages/deny?code=403
ErrorDocument 404 /subpages/deny?code=404

Order deny,allow
<FilesMatch ".+\.(json)$">
Deny from all
</FilesMatch>
