RewriteEngine on

RewriteCond %{REQUEST_FILENAME} -f
RewriteCond %{REQUEST_FILENAME} !([^.]+)\/pages/deny.php [NC]
RewriteCond %{THE_REQUEST} /([^.]+)\.php [NC]
RewriteRule ^ - [NC,L,R=404]

RewriteCond %{REQUEST_FILENAME}.php -f
RewriteRule ^ %{REQUEST_URI}.php [NC,L]

Redirect /index /
Redirect /mainpage /

RewriteCond %{REQUEST_URI} ^/(achievements|handbook|mainpage|server|error)(?![a-zA-Z0-9/\.]+) [NC]
RewriteRule ^ /pages/%1 [NC,L]
RewriteCond %{REQUEST_URI} ^/(403|404)(?![a-zA-Z0-9/\.]+) [NC]
RewriteRule ^ /pages/deny.inc?code=%1 [NC,L]

ErrorDocument 403 /pages/deny?code=403
ErrorDocument 404 /pages/deny?code=404

Order deny,allow
<FilesMatch ".+\.(json)$">
Deny from all
</FilesMatch>
