<div class="item_board layout_outer_board">
    <link href="/layout/templates/css/commonplace.css" rel="stylesheet"/>
    <link href="/layout/templates/css/item.css" rel="stylesheet"/>
    <img class="item_itemback" src="/resources/img/game/itemback1.jpg">
    <img class="item_itembar" src="/resources/img/game/itembar.png">
    <img class="item_itemimg" src="/resources/img/game/items/mora.png">
    <div class="item_starbar">
        <img src="/resources/img/game/star.png">
    </div>
    <div class="item_numtext">0</div>
    <div class="item_border"></div>
    <div class="item_cover"></div>
</div>